.footer-section{
background:#3F86A6;
color:white;
padding:60px 0 30px 0;
}

.footer-logo{
width:150px;
}

.footer-top h6{
font-weight:600;
margin-bottom:12px;
}

.footer-top ul{
list-style:none;
padding:0;
margin:0;
}

.footer-top li{
margin-bottom:8px;
font-size:14px;
cursor:pointer;
}

.newsletter-text{
font-size:14px;
max-width:320px;
}

.newsletter-input{
display:flex;
align-items:center;
gap:10px;
margin-top:10px;
}

.newsletter-input input{
background:#3F86A6;
border:1px solid white;
color:white;
padding:8px 10px;
outline:none;
width:180px;
}

.newsletter-input input::placeholder{
color:white;
}

.newsletter-input button{
background:white;
border:2px solid black;
padding:8px 14px;
cursor:pointer;
}

.newsletter-note{
font-size:11px;
margin-top:10px;
max-width:340px;
}

.footer-bottom{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:40px;
flex-wrap:wrap;
}

.footer-left{
display:flex;
gap:15px;
flex-wrap:wrap;
font-size:13px;
}

.footer-left span{
cursor:pointer;
text-decoration:underline;
}

.footer-icons img{
width:18px;
height:18px;
margin-left:12px;
cursor:pointer;
}